# Игнорировать временные файлы Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Игнорировать файлы проекта
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs

# Игнорировать файлы Asset Store
/[Aa]ssets/AssetStoreTools*

# Игнорировать файлы пакетов
/[Pp]ackages/

# Игнорировать автосохранения
*.autosave

# Игнорировать настройки IDE
.vs/
.idea/